body {
    min-height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle, #406295, #374a6f, #2b334b, #1c1e2a, #070708);
}

h3 {
    font-size: 30px;
    text-align: center;
}

hr {
    border: 1px solid white;
}

/* navbar */
.navbar {
    background-color: #1c1e2a;
}

.icon {
    color: white;
}

.offcanvas-end {
    width: 250px !important;
    background-color: rgba(32, 33, 37, 0.36);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.mobile-nav {
    color: white;
}

.mobile-nav a:hover {
    display: inline-block;
    border-bottom: 1px solid white;
}

/* hero */
.hero-content {
    box-shadow: 1px 8px 10px 10px rgba(0,0,0,0.4);
}

.intro-title {
    font-weight: bold;
}

.project-btn {
    border: 1px solid white;
}

.project-btn:hover {
    background-color:#374a6f;
    border: 1px solid #374a6f;
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
}

.contact-btn {
    color: #374a6f;
}

.contact-btn:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
}

/* about */
.about-me {
    text-align: center;
}

.about-description {
    text-align: left;
}

.tech-icon {
    box-shadow: 1px 8px 10px 10px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.express, .github, .django {
    background-color: rgba(255, 255, 255, 0.904);
}

/* project */
#project .container {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 10px rgba(0,0,0,0.4);
    border: 1px solid #1c1e2a;
}

#project .card {
    transition: transform 0.3s ease;
    background-color: transparent;
    color: white;
}

#project .card:hover {
    transform: translateY(-6px);
}

.project-tech p {
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 11px;
    padding: 5px;
    margin-right: 4px;
    margin-top: 0;
    margin-bottom: 10px;
}

#project .card-text {
    margin-bottom: 40px;
}

/* certificates */
#certificates .card {
    transition: transform 0.3s ease;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

#certificates .card:hover {
    transform: translateY(-6px);
}

#certificates .card-title {
    font-size: 13px;
}

.card-detail p {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

.cert-btn {
    color: #1c1e2a;
    width: 30%;
}

.cert-btn:hover {
    background-color: #1c1e2a;
    color: white;
}

/* contact */
#contact .container, #contact .col, .form-floating, form, .content {
    /* border: 1px solid white; */
}

#contact .col {
}

#contact h2 {
    font-size: 35px;
    font-family: "Playfair Display", sans-serif;
}

.socials-icon p {
    margin: 15px 0;
}

form {
    max-width: 500px;
    background-color: #1c1e2a;
}

form input, form textarea {
    background-color: transparent !important;
    color: white !important;
}

form label {
    color: gray !important;
}

.send-btn {
    color: #374a6f;
    background-color: white;
}

.send-btn:hover {
    border: 1px solid white;
}

/* footer */
footer {
    color: white;
    font-size: 12px;
    text-align: center;
}

/* Desktop view */
@media (min-width: 991px) {
    h3 {
        font-size: 40px !important;
    }
    /* hero */
    .profile-pic img {
        width: 250px;
    }

    .hero-content {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }

    /* about */
    .about-description {
        width: 75%;
        margin: 0 auto;
        line-height: 25px;
    }

    /* project */
    .project-tech p {
        font-size: 10px;
    }

    /* certificates */
    .card-detail p {
        font-size: 13px !important;
    }

    #certificates .card-title {
    font-size: 15px !important;
    }

    #certificates .btn {
        width: 20%;
    }

    /* contact */
    #contact h2 {
        font-size: 45px !important;
    }
}

/* mobile view */
@media (max-width:767px) {
    .about-description {
        width: 100% !important;
    }
}

/* smaller mobile view (ip 14pm) */
@media (max-width: 480px) {
    .contact-btn {
        margin-right: 3px !important;
    }
}

